@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

:root {
  --main-color: #4d25bb;
  --secondary-color: #f6be13;
  --text-color: #707070;
  --accent-color: #242656;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: cairo;
  direction: rtl;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 40px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 20px;
}

.section-desc {
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }

  .section-desc {
    font-size: 18px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small  */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

/* Large */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
header {
  height: 73px;
  background-color: var(--white);
  border-bottom: 2px solid rgb(225, 223, 223);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container img {
  height: 55px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  header .container nav {
    justify-content: flex-end;
  }
}

header .container nav ul {
  display: flex;
}

@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}

.mobile-nav1 {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #eee;
  transition: 0.3s;
  z-index: 9;
}

.nav-tog {
  transition: 0.3s;
}

.nav-tog:hover {
  color: var(--main-color);
}

@media (min-width: 768px) {
  .nav-tog {
    display: none;
  }
}

header .container nav ul li a {
  display: block;
  height: 100%;
  padding: 27px 30px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  transition: 0.3s;
  position: relative;
}

header .container nav ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: 0.5s;
}

@media (max-width: 768px) {
  header .container nav ul li a {
    border-bottom: 1px solid #ccc;
  }
}
header .container nav ul li a:hover {
  color: var(--main-color);
  background-color: #f5f5f5;
}

header .container nav ul li a:hover::after {
  width: 100%;
}

header .container nav ul li a.active {
  background-color: var(--main-color);
  color: var(--white);
}
/* End Header */

/* Start Hero */
.hero {
  position: relative;
  height: calc(100vh - 73px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@media (max-width: 767px) {
  .hero {
    background: url("../images/hero-background.PNG") center/cover no-repeat;
  }

  .hero video {
    display: none;
  }

  .hero .overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.hero .hero-info {
  z-index: 1;
  /* width: 83%; */
  /* margin: auto; */
  /* text-align: center; */
}

.hero .hero-info .hero-title {
  /* color: var(--main-color); */
  color: #fff;
  font-size: 40px;
  font-family: almarai;
  font-weight: 800;
}

.hero .hero-info h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

.hero .hero-info p {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 25px;
  width: 50%;
}

@media (max-width: 768px) {
  .hero .hero-info .hero-title {
    font-size: 28px;
    text-align: center;
  }

  .hero .hero-info h2 {
    font-size: 20px;
    text-align: center;
  }

  .hero .hero-info p {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
  }
}

.hero .hero-info .call {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .hero .hero-info .call {
    justify-content: center;
  }
}

.hero .hero-info .call button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 9;
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 767px) {
  .hero .hero-info .call button {
    font-size: 15px;
  }
}

.hero .hero-info .call button:hover {
  cursor: pointer;
  color: var(--white);
  /* background-color: #000;
  transform: scale(1.1); */
}

.hero .hero-info .call button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  z-index: -1;
  transition: 0.5s;
}

.hero .hero-info .call button:hover::after {
  width: 100%;
}

.hero .hero-info .call button a {
  color: var(--accent-color);
  transition: 0.3s;
}

.hero .hero-info .call button:hover a {
  color: var(--white);
}
/* End Hero */

/* Start Services */
.services {
  background-color: #eee;
  padding: 70px 0;
}

.all-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.all-services .service {
  background-color: var(--white);
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.all-services .service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.5s;
}

.all-services .service::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.5s;
}

.all-services .service:hover::before,
.all-services .service:hover::after {
  height: 100%;
}

.all-services .service:hover {
  transform: translateY(-10px);
}

.all-services .service img {
  width: 70px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .all-services .service img {
    width: 55px;
  }
}

.all-services .service h3 {
  margin-bottom: 15px;
  color: var(--main-color);
  font-size: 18px;
}
.all-services .service p {
  line-height: 1.5;
}
/* End Services */

/* Start About */
.about {
  padding: 70px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about-info,
.about .about-img {
  width: 50%;
}

.about h2 {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 20px;
}

.about p {
  font-size: 17px;
  line-height: 1.7;
  width: 90%;
  margin-bottom: 20px;
}

.about .about-call {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 768px) {
  .about .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about .about-info,
  .about .about-img {
    width: 100%;
  }

  .about p {
    width: 100%;
  }

  .about .about-call {
    margin-bottom: 25px;
  }
}

.about .about-call:hover {
  color: var(--white);
}

.about .about-call::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  z-index: -1;
  transition: 0.5s;
}

.about .about-call:hover::after {
  width: 100%;
}

.about .about-call a {
  color: var(--accent-color);
  transition: 0.3s;
}

.about .about-call:hover a {
  color: var(--white);
}

.about-img {
  text-align: left;
}

.about-img img {
  width: 60%;
}

@media (max-width: 767px) {
  .about-img {
    text-align: center;
  }
}
/* End About */

/* Start Portfolio */
.portfolio {
  padding: 70px 0;
  background-color: #eee;
}

.portfolio .port-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.portfolio .port-container .box {
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.portfolio .port-container .box img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}

.portfolio .port-container .box .info {
  background-color: rgba(77, 37, 187, 0.5);
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.portfolio .port-container .box:hover .info {
  left: 0;
}

.portfolio .port-container .box .info h3 {
  font-size: 20px;
  /* color: #111; */
  color: #fff;
  margin-bottom: 20px;
}

.portfolio .port-container .box .info p {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  /* color: #111; */
  color: #fff;
}

.portfolio .port-container .box .info .more {
  padding: 10px;
  font-size: 17px;
  font-weight: 700;
  /* background-color: #111;
  color: var(--white); */
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio .port-container .box .info .more:hover {
  /* background-color: rgb(0, 0, 0); */
  background-color: var(--accent-color);
  color: #fff;
}
/* End Portfolio */

/* Start Statistics */
.statistics {
  padding: 70px 0;
  background-image: url("../images/st-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.statistics .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.statistics .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.statistics .container .stat {
  background-color: var(--white);
  padding: 20px 0;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.statistics .container .stat:hover {
  scale: 1.05;
  /* background-color: #f6bd13b6; */
  background-color: rgba(77, 37, 187, 0.5);
}

.statistics .container .stat h3 {
  font-size: 35px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.statistics .container .stat p {
  font-size: 20px;
  font-weight: 800;
  transition: 0.3s;
}

.statistics .container .stat:hover h3,
.statistics .container .stat:hover p {
  color: #fff;
}
/* End Statistics */

/* Start Clients */
.our-clients {
  padding: 70px 0;
}

.our-clients .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 15px;
}

@media (max-width: 767px) {
  .our-clients .container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
  }
}

.our-clients .client {
  width: 150px;
  height: 150px;
  margin: auto;
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
}

.our-clients .client img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .our-clients .client {
    width: 110px;
    height: 110px;
  }

  .our-clients .client img {
    width: 100%;
    height: 100%;
  }
}

.our-clients .client img:hover {
  scale: 1.05;
}
@media (max-width: 768px) {
  .our-clients .client img:hover {
    scale: 1.02;
  }
}
/* End Clients */

/* Start Plans */
.plans {
  padding: 70px 0;
  background-color: #eee;
}

.plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.plans .container .plan {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px #ccc;
}

.plans .container .plan:hover {
  transform: translateY(-10px);
}

.plans .container .business {
  transform: translateY(-15px);
}

.plans .container .business:hover {
  transform: translateY(-20px);
}

@media (max-width: 767px) {
  .plans .container .plan:hover,
  .plans .container .business {
    transform: translateY(-7px);
  }

  .plans .container .business {
    transform: translateY(0);
  }
}

.plans .container .plan .plan-title {
  font-size: 25px;
  color: var(--main-color);
  margin-top: 10px;
  margin-bottom: 5px;
}

.plans .container .plan .price {
  font-size: 30px;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 5px;
}

.plans .container .plan ul {
  text-align: right;
  padding: 15px;
  padding-right: 20px;
}

.plans .container .plan ul li {
  padding: 15px;
  padding-right: 20px;
  border-top: 1px solid #eee;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  color: var(--accent-color);
}

.plans .container .plan ul li::before {
  content: "\58";
  font-family: "font awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: #ccc;
  font-size: 12px;
}

.plans .container .plan ul li:not(.na)::before {
  content: "\f00c";
  color: var(--main-color);
  font-size: 14px;
}

.plans .container .plan ul li:not(.na):hover {
  background-color: #eee;
}

.plans .container .plan ul .na {
  color: #aaa6a6;
  cursor: default;
}

.plans .container .plan .plan-btn {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 90%;
  margin: auto;
  font-size: 17px;
  font-weight: 700;
}

.plans .container .plan .plan-btn:hover {
  background-color: var(--accent-color);
  color: var(--white);
}
/* End Plans */

/* Start Contact */
.contact {
  padding: 70px 0;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info,
.contact-map {
  width: 48%;
}

@media (max-width: 767px) {
  .contact .container {
    flex-direction: column;
  }

  .contact-info,
  .contact-map {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.contact-info .icon-box {
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

@media (max-width: 767px) {
  .contact-info .icon-box:last-child {
    border-bottom: none;
  }
}

.contact-info .icon-box .icon {
  margin-left: 10px;
  position: relative;
}

.contact-info .icon-box .icon i {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
}

@media (max-width: 767px) {
  .contact-info .icon-box .icon i {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

.contact-info .icon-box .icon i:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.contact-info .icon-box .icon i.tel {
  transform: rotate(255deg);
}

/* Change phone icon on hover  */
.icon-container {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .icon-container {
    width: 35px;
    height: 35px;
  }
}

i.tel,
i.whatsapp {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.whatsapp {
  opacity: 0;
  transform: translateY(-50px);
}

.icon-container:hover .tel {
  opacity: 0;
  transform: translateY(-20px);
}

@media (max-width: 767px) {
  .whatsapp {
    transform: translateY(-35px);
  }
  .icon-container:hover .tel {
    transform: translateY(-10px);
  }
}

.icon-container:hover .whatsapp {
  opacity: 1;
}

.contact-info .icon-box .icon-info h4 {
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 5px;
}

.contact-info .icon-box .icon-info p,
.contact-info .icon-box .icon-info p a {
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .contact-info .icon-box .icon-info h4 {
    font-size: 16px;
  }

  .contact-info .icon-box .icon-info p {
    font-size: 14px;
  }
}

.contact-info .icon-box .icon-info .phone {
  direction: ltr;
}

.contact-map iframe {
  border-radius: 20px;
  width: 600px;
  height: 450px;
}

@media (max-width: 767px) {
  .contact-map iframe {
    height: 450px;
    width: 100% !important;
  }
}
/* End Contact */

/* Start Footer */
footer {
  padding: 70px 0 20px;
  background-color: var(--accent-color);
  background-image: url("../images/footerbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid var(--secondary-color);
}

footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 767px) {
  footer .container {
    grid-template-columns: 1fr;
  }

  footer .section {
    padding-right: 20px;
    margin-bottom: 15px;
  }
}

footer .section h2 {
  color: var(--white);
  margin-bottom: 15px;
}

footer .section p {
  color: var(--white);
  line-height: 1.5;
  width: 85%;
}

@media (max-width: 767px) {
  footer .section p {
    width: 100%;
  }
}

footer .section a {
  display: block;
  color: var(--white);
  margin-top: 15px;
  transition: 0.3s;
  position: relative;
}

footer .section a:hover {
  color: var(--secondary-color);
  font-weight: bold;
  padding-right: 5px;
}

footer .section ul:not(.follow) a::before {
  content: "\f0d9";
  font-family: "font awesome 5 free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  transition: 0.3s;
}

.hr-footer {
  width: 80%;
  transform: translateX(-10%);
  margin-top: 35px;
}

@media (max-width: 768px) {
  .hr-footer {
    width: 90%;
    transform: translateX(-5%);
  }
}

footer .copyright {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

footer .copyright p a {
  color: var(--white);
}

@media (max-width: 768px) {
  footer .copyright p {
    font-size: 14px;
  }
}
/* End Footer */

/* .whatsapp-btn {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.whatsapp-btn img {
  width: 50px;
  height: 50px;
} */
